@inject HttpClient http
@inject NavigationManager NavigationManager

<EditForm EditContext="editContext" FormName="EditWorkUnit" OnValidSubmit="Submit">
	<div class="mb-3">
		<label for="name" class="form-label">Nama Unit</label>
		<input class="form-control" id="name" placeholder="contoh: IT, Marketing, Finance" @bind-value="FormData!.Name">
		<ValidationMessage For="() => FormData!.Name" />
	</div>

	<div>
		<button type="submit" class="btn btn-primary">
			Ubah Unit Kerja
		</button>
	</div>
</EditForm>

@code {

	[SupplyParameterFromForm]
	private EditWorkUnitFormData? FormData { get; set; }

	[Parameter]
	public required string Id { get; set; }

	[Parameter]
	public required WorkUnit Unit { get; set; }

	private EditContext? editContext { get; set; }

	private ValidationMessageStore? messageStore;

	protected override void OnInitialized()
	{
		FormData ??= new(){
			Name = Unit.Name,
		};
		editContext = new(FormData);

		editContext.OnValidationRequested += HandleValidationRequested;

		messageStore = new(editContext);
	}

	private void HandleValidationRequested(object? sender, ValidationRequestedEventArgs args)
	{
		messageStore?.Clear();

		if (string.IsNullOrEmpty(FormData!.Name)) {
			messageStore?.Add(() => FormData.Name, "Nama unit kerja diperlukan");
		}
	}

	private async Task Submit() {
		var res = await http.PutAsJsonAsync($"api/units/{Id}", FormData);

		if (!res.IsSuccessStatusCode) return;

		NavigationManager.NavigateTo("/units");
	}

	public class EditWorkUnitFormData {
		
		public string? Name { get; set; }
	}

}
