<div class="top-row navbar navbar-dark ps-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Employee App</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                Daftar Karyawan
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="employees/add">
                Tambah Karyawan
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="histories">
                Daftar Riwayat Kerja
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="histories/add">
                Tambah Riwayat Kerja
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="units">
                Daftar Unit Kerja
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="units/add">
                Tambah Unit Kerja
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="levels">
                Daftar Jabatan
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="levels/add">
                Tambah Jabatan
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
